* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .content {
      display: flex;
      flex-direction: column;
  }
  .conteiner {
      max-width: 1100px;
      margin: 0 auto;
      width: 95%;
  }

  @each $animal in one, two, three {
    .#{$animal}_block {
        display: flex;
        flex-direction: column;
        background: url('/media/#{$animal}_fon.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
        height: 100vh;
        min-height: 650px;
    }
  }



  .one_block {
      

      .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .logo {
              display: flex;
              align-items: center;
              img {
                  width: 50px;
                  height: 50px
              }
              .text {
                  text-transform: uppercase;
                  margin-left: 5px;
                  font-family: "open";
                  font-weight: 100;
              }
          }
      }
      .head {
          width: 400px;
          .menu {
              .menu_list {
                  list-style: none;
                  display: flex;
                  justify-content: space-between;
                  .menu_item {
                      .menu_link {
                          text-transform: uppercase;
                          text-decoration: none;
                          font-family: "open";
                          font-weight: 400;
                          color: #fff;
                          text-shadow: 1px 1px 2px black, 0 0 1em #2C94FC;

                      }
                  }
              }
          }
      }
      .number {
          .num {
              text-transform: uppercase;
              letter-spacing: 3px;
              font-family: "open";
              font-weight: 400;
          }
      }
      .hero_content {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 150px;
          .title {
              font-size: 30px;
              text-transform: uppercase;
              font-family: "open";
              font-weight: bold;
          }
          .touch_menu {
              display: flex;
              justify-content: space-evenly;
              align-items: center;
              margin-top: 100px;
              width: 100%;
              a {
                  text-decoration: none;
                  text-transform: uppercase;
                  font-size: 24px;
              }
              .info {
                  display: flex;
                //   border: 2px solid #3DB5FF;
                  border-radius: 10px;
                  color: #fff;
                  padding: 15px;
                  justify-content: center;
                  align-items: center;
                  box-shadow: 0 0 3px 3px rgba($color: #000000, $alpha: 0.3);
                  background: #3DB5FF;
                transition: background 0.4s;
                font-family: "open";
              font-weight: 200;
                &:hover {
                    background: #2C94FC;
                    }
              }
              .buy {
                display: flex;
                // border: 2px solid #FC9B2C;
                border-radius: 10px;
                color: #fff;
                padding: 15px;
                background: #FC602C;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 3px 3px rgba($color: #000000, $alpha: 0.3);
                transition: background 0.4s;
                font-family: "open";
              font-weight: 200;
                &:hover {
                background: #FC9B2C;
                }
              }
          }
      }
  }
  .two_block {
    display: flex;
    justify-content: center;
    position: relative;
      .production {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 100%;
          .img {
              border: 1px solid green;
              border-radius: 5px;
              width: 400px;
              height: 250px;
              box-shadow: 0 0 3px 3px rgba($color: #000000, $alpha: 0.3);

              img {
                  width: 100%;
                  height: 100%;
              }
          }
          .production_info {
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              align-items: center;
              margin-left: 10px;
              background: rgba($color: #000000, $alpha: 0.9);
              position: absolute;
              color: #fff;
              top: 0;
              right: 0;
              width: 50%;
              height: 100%;
              .name {
                  text-transform: uppercase;
                  font-size: 30px;
                  font-family: "open";
              font-weight: bold;
              }
              .small {
                font-family: "open";
                font-weight: 100;
              }
              .price {
                  font-size: 22px;
                  font-family: "open";
                  font-weight: 300;
                  span  {
                      font-size: 24px;
                      font-family: "open";
                      font-weight: 200;
                  }
              }
              .opt {
                font-size: 22px;
                font-family: "open";
              font-weight: 300;
                span  {
                    font-size: 24px;
                    font-family: "open";
              font-weight: 200;
                }
            }
            .kuryer {
                font-size: 22px;
                font-family: "open";
              font-weight: 100;
                span  {
                    font-size: 24px;
                    font-family: "open";
              font-weight: 200;
                }
            }
            .buy_cons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 400px;
                margin-top: 10px;
                .buy {
                    padding: 15px;
                    color: #fff;
                    text-decoration: none;
                    border-radius: 10px;
                    text-transform: uppercase;
                    display: flex;
                    background: #FC602C;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 0 3px 3px rgba($color: #000000, $alpha: 0.3);
                    transition: background 0.4s;
                    font-family: "open";
                  font-weight: 200;
                    &:hover {
                    background: #FC9B2C;
                    }
                }
                .consult {
                    border: 1px solid #FC602C;
                    padding: 15px;
                    color: #fff;
                    text-decoration: none;
                    border-radius: 10px;
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 0 3px 3px rgba($color: #000000, $alpha: 0.3);
                    transition:  0.4s;
                    font-family: "open";
                  font-weight: 200;
                    &:hover {
                        box-shadow: inset 0 0 5px 5px rgba($color: #000000, $alpha: 0.3);
                    }
                }
            }
          }
      }
  }
  .three_block {
      .block_form {
          .title_one {
              display: flex;
              justify-content: center;
              align-items: center;
            font-size: 60px;
            text-transform: uppercase;
            font-family: "open";
            font-weight: bold;
            margin-top: 50px;
            color: #fff;

          }
          .form {
              display: flex;
              margin-top: 50px;
              width: 100%;
              input {
                  padding: 10px 15px;
                  background: #fff;
                  border-radius: 10px;
              }
              .block_info {
                  display: flex;
                  flex-direction: column;
                  
                //   flex: 1;
                  .title {
                    font-size: 20px;
                    font-family: "open";
                    font-weight: 300;
                    color: #fff;
                    margin-bottom: 5px;
              
                }
                .mini_block {
                    flex: 1;
                    padding: 10px;
                }
                  .block_name {
                      display: flex;
                      flex-direction: column;
                      
                      
                  }
                  .block_address {
                    display: flex;
                    flex-direction: column;
                    
                  }
                  .block_num {
                      display: flex;
                      
                  }
              }
            }
            .block_comment {
                display: flex;
                flex-direction: column;
                flex: 1;
                margin-top: 10px;
                margin-left: 10px;
                .title {
                    font-size: 20px;
                    font-family: "open";
                    font-weight: 300;
                    color: #fff;
                    margin-bottom: 5px;
              
                }
                .commet {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    .textarea {
                        width: 100%;
                        height: 125px;
                        // border-width: 0.0625rem;
                        border-color: #d1cfcb;
                        border-style: solid;
                        border-radius: 10px;
                        background-color: #fff;
                        padding: 10px;
                        font-size: 18px;
                        resize: none;
                        outline: none;
                        transition: 0.4s;
                    }
                }
            }
            .radio {
                display: flex;
                .label {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    position: relative;
                    font-family: "open";
                    font-weight: 300;
                    .radio__text {
                        white-space: nowrap;
                        margin-left: 3px;
                        color: #fff;
                    }
                }
            }
            .touch {
                .btn {
                    padding: 7px;
                    color: #fff;
                    text-decoration: none;
                    border: none;
                    border-radius: 5px;
                    text-transform: uppercase;
                    display: flex;
                    background: #FC602C;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 0 2px 2px rgba($color: #000000, $alpha: 0.3);
                    transition: background 0.4s;
                    font-family: "open";
                  font-weight: 200;
                  margin-top: 10px;
                    &:hover {
                    background: #FC9B2C;
                    }
                }
            }
      }
  }